# Alles ignorieren
*

# Verzeichnisse trotzdem durchsuchen
!*/

# Jupyter Notebooks tracken
!*.ipynb

# Power Point Präsi tracken
!*.pptx

# data_complete.csv tracken
!data_complete.csv

# Jupyter-Checkpoint-Ordner ignorieren
.ipynb_checkpoints/